<h1>State</h1>


<table class="table table-striped">

<thead>
	<tr>
		<th>Date</th>
		<th>Artist</th>
		<th>Venue</th>
		<th>City</th>
		<th>State</th>
		<th>Ticket Link</th>
	</tr>
</thead>

<tbody>
    <% @states.each_with_index do |state, index| %>
         <tr>
            <td><%= state.date %></td>
            <td><%= state.artist %></td>
            <td><%= state.venue %></td>
            <td><%= state.city %></td>
            <td><%= state.state %></td>
            <td><%= link_to "Get Tickets &raquo;".html_safe, state.tickets, class: "btn btn-primary btn-md" %></td>


      <% end %>
      </tr>
<tbody>

 </table>