<p id="notice"><%= notice %></p>

<p>
  <strong>Artist:</strong>
  <%= @show.artist %>
</p>

<p>
  <strong>Date:</strong>
  <%= @show.date %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @show.venue %>
</p>

<p>
  <strong>City:</strong>
  <%= @show.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @show.state %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @show.genre %>
</p>

<p>
  <strong>Sold:</strong>
  <%= @show.sold %>
</p>

<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
